@charset "UTF-8";

*{
    margin: 0px;
}

header{
    text-align: left;
    background-color: rgba(10, 63, 10, 0.719);
    border-radius: 5px;
    height: 110px;
}

header > h1{
    text-align: center;
}

header > p{
    text-align: center;
}

body{
    text-align: center;
    background-color: bisque;
}

nav{
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
    
}

nav > a{
    text-decoration: none;
    color: green;
    text-align: left;
    font-weight: bolder;
    border-radius: 5px;
    padding: 10px;
}

nav > a:hover{
    background-color: black;
    color: white;
    text-decoration: underline;
}

div > img#texto1{
    width: 650px;
    height: 420px;
    padding: 9px;
}

div > img#texto2{
    width: 650px;
    height: 420px;
    margin: auto;
    padding: 9px;
}

div#imagem > img{
    padding: 9px;
    height: 260px;
    margin: auto;
}

div#acessorios > img{
    height: 200px;
}

section#a > ul > li{
    margin: auto;
    columns: 3;
}

footer{
    background-color: rgb(184, 169, 169);
    height: 50px;
}
