@charset "UTF-8";

@media screen and (max-width: 768px){
    main > article > div.container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span#burguer{
        display: block;
        color: white;
        text-align: center;
        padding: 15px;
        cursor: pointer;
    }
    menu{
        display: block;
    }
    menu > ul{
        list-style-type: none;
    }
    menu > ul > li{
        display: inline-block;
    }
    menu > ul > li > a{
        display: block;
        padding: 10px;
        height: 25px;
        width: 96vw;
        text-decoration: none;
        text-align: center;
        background-color: rgb(87, 87, 87);
        color: white;
        border-top: 3px solid black;
        border-radius: 10px;
    }
    main{
        max-width: 768px;
    }
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    /*background: url(../imagens/pexels-cottonbro-5095942.jpg) no-repeat center top;*/
}

body{
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
}

header{
    padding: 9px;
    text-align: center;
    background-color: chocolate;
    background-image: linear-gradient(to left, chocolate, rgba(255, 255, 0, 0.459));
}

header > h1{
    color: white;
    text-align: center;
    font-size: 3em;
}

header > p{
    color: white;
    text-align: center;
    font-size: 1.2em;
}

 span#burguer{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

span#burguer:hover{
    background-color: white;
    color: black;
}

menu{
    display: block;
}

menu{
    padding: 10px;
    width: 100%;
    box-shadow: 0px 5px 7px;
    border-radius: 7px;
    background: url(../imagens/pexels-cottonbro-5095942.jpg) no-repeat;
    background-size: cover;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    height: 25px;
    width: 96vw;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 3px solid black;
    border-radius: 10px;
}

menu > ul > li > a:hover{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: chocolate;
    border-top: 2px solid black;
}

ul > a{
    padding: 10px;
    width: 5px;
    text-decoration: none;
    color: aliceblue;
}

ul > a:hover{
    background-color: chocolate;
    transition-duration: 0.5s;
    color: yellow;
    padding: 17px;
    height: 100%;
    border-radius: 5px;
    width: 5px;
}

/*main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}*/

main > article{
    padding: 10px;
    background-color: whitesmoke;
}

main > article > div.container{
    display: flex;
}

main > article > div.container > a{
    padding: 10px;
    margin-bottom: 20px;
}

main > article > div.container > p{
    color: black;
    text-align: justify;
    padding: 10px;
    font-size: 1.1em;
    max-width: 500px;
    margin-top: 15px;
}

main > article > div.container > strong{
    font-size: 1.3em;
    width: 20px;
    height: 25px;
    margin-top: -2.5px;
}

main > article > div.container > strong:hover{
    color: chocolate;
    cursor: pointer;
}

main > article > div.container > img{
    max-width: 400px;
    margin-right: 7.5px;
    margin-bottom: 15px;
    width: 240px;
    height: 240px;
}

section{
    height: 10px;
}

section > h2{
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.664);
}

section > div.variedades{
    display: flex;
    justify-content: space-between; /*Para espaçar os itens igualmente*/
    /*background-color: #FFE4C4; /*Cor de fundo */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.664);
}

section > div.variedades > div.conteudo{
    text-align: justify;
    padding: 7px;
}

section > div.variedades > div.conteudo > a{
    color: black;
    text-decoration: none;
}

section > div.variedades > div.conteudo > a > p{
    max-width: 500px;
    color: brown;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, chocolate, rgba(255, 255, 0, 0.459));
    text-align: center;
    padding: 10px;
    z-index: 999;
}

footer > div.lorem-container{
    padding: 10px;
    height: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

footer > div.lorem-container > p{
    float: left;
}

footer > div.lorem-container > a > img{
    float: right;
    width: 30px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}